body{
  background-image: url("f1.jpeg");
  /* background-color: blue; */
}
.maincard{

  background-color: white;
  width:400px;
  height:500px;
  margin: 10% auto 25% auto;
  border-style: solid;
  border-radius: 25px;
  position: relative;
  top:400px;
  transform:scale(2);


}
.sub1{
  background-color: yellow;
  height:15%;
  width:100%;
  background-image: url("p1.jpeg");
  padding-bottom: 80px;
  border-radius: 25px 25px 0 0;
}
h3{
  margin-top: 12%;
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
  color: #40514E;
  font-weight: bolder;
  position: relative;
  font-size: 130%;


}
p{
  text-align:center;
  position: absolute;
  bottom:35%;
  left:33%;


  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: bolder;
  font-size:90%;


}
p:hover{
  color:red;
  font-weight: bolder;
}
.icons{

  height: 100px;}
hr{
  margin-top: 12%;
}
.age{
  color:grey;
  margin-left: 5%;



}
.name_age{
  padding-top: 10%;

}
.links{
  position: absolute;
  bottom:0;
  height:30%;
  width: 100%;
  background-color: #47597e;
  /* border-style: solid; */
  border-radius:0 0 20px 20px;

}

.sub3{
  height: 100px;
}
.icons{
  height:50%;
  margin-top: 20px;
  margin-left:28px;
  margin-right:27px;
  /* padding-bottom:; */
  opacity: 0.85;
}
.seemywork{
  margin:0;
  margin-top:10px;
  font-size:200%;
  color:white;
}
.icons:hover{
  transform: scale(1.5);
  opacity: 5;
}

.handles:hover{
  font-size: 150%;
  color:yellow;

}
.handles{
  margin-left:25px;
}

.dp{
  width:40%;
  position:absolute;
  right:30%;
  top:15%;
}
.dp:hover{
  transform: scale(1.1);
}
.instahandle{}
